.App {
  text-align: center;
  vertical-align: middle;
}

.playerName {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.nameStyle {
  color: white;
  margin: 0;
}

body {
  margin-top: 10%;
}

.title {
  color: white;
  font-size: 50px;
}

.App-header {
  background-color: #136207;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2DC213;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.Button:hover {background-color: #2DA917}

.Button:active {
  background-color: #2DA917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Href {
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #2DC213;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.Href:hover {background-color: #2DA917}

.Href:active {
  background-color: #2DA917;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}