.App {
  text-align: center;
  vertical-align: middle;
}

.title {
  color: white;
  font-size: 50px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00e6e6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.Button:hover {background-color: #00cccc}

.Button:active {
  background-color: #00cccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.Href {
  padding: 10px 15px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #00e6e6;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #999;
}

.Href:hover {background-color: #00cccc}

.Href:active {
  background-color: #00cccc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}