.title {
  color: white;
  font-size: 50px;
}

.resultsTable {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.resultsData {
	border: 1px solid #ddd;
    padding: 8px;
}

.resultsRow {
	background-color: #f2f2f2;
}

.resultsHeader {
	padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: lightblue;
    color: black;
}
